.hoverScale{
  position:relative;
}

.scale{
  position: absolute;
  background-color: hsla(354,81%,72%,1);
  z-index: -1;
  //Value before hover
  scale:0;
  opacity: 0;
}

.hoverScale:hover .scale {

  //Value after hover     //Don't forget to add your customs css properties to the function parameters
  scale : 1.05;
  opacity: 1;
  border-radius: 0;
}
